$MainTransithin: all 0.3s ease;
$size: 200px;
$mainColor:#0d6efd40
// @import "/css/botstrab/scss";--bs-primary
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #fff;
}
::-webkit-scrollbar-thumb{
  background-color:$mainColor;
}
::-webkit-scrollbar-hover{
  background-color:var(--bs-primary);
}
body{font-family: 'Roboto', sans-serif !important;
  background-color:#f1f5f9 !important;
  transition: all 3s;

}
  .dashBord{
    position: relative;
  .side-bar{
    background-color: #fff;
    box-shadow: 0 0 10px  #ddd;
    width: 250px;
    min-height: 100vh;
    top: 0; 
    border-right: 1px solid #ddd;
    position: relative;
    .name{
      position: relative;
      h2{ 
        text-align: center;
        margin-top: 17px;
        font-size: 15px;
        font-weight: bold;
        @media (max-width:767px){
          font-size: 12px;
        }
        &::after,&::before{
          content: '';
          position: absolute;
          background-color: black;
          transform: translate(-50%);
          left: 50%;
          @media (max-width:767px){
            display: none;
          }
        }
        &::after{
          width: 50px;
          height: 1.5px;
          bottom: -11px;
        }
        &::before{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          top: 24px;
        }
      }
    }
    .list{
      padding: 15px;
      margin-top: 20px;
      flex-direction: column;
      gap: 20px;
      li{
        transition: $MainTransithin;
        padding: 10px;
        a{
          span{
            margin-left: 10px;
            @media (max-width:1040px){
              display: none;
            }
          }
        }
        &:hover{
          background-color:#efecec;
          // @media (max-width: 767px) {}
        }
      }
      @media (max-width:767px) {
        margin-top: 0;
      } 
    }
    @media (max-width:1040px) {
      width: 68px;
      // padding: 10px;
    }
    @media (max-width:1300px) {
      // width: 200px;
      // padding: 10px;
    }
  }
  .main-content{
    .nav-b{
      .search{
        position: relative;
        overflow: hidden;
        .fa-magnifying-glass{
          position: absolute;
          top: 5px;
          left: 9px;
        }
        .input{
          padding-left: 30px;            
          font-size: 13px;
          border: 1px solid #ddd;
          outline: none;
          -moz-transition: width all ease-in-out 200ms;
          -webkit-transition: width all ease-in-out 200ms;
          transition: width all ease-in-out 200ms;
          &:focus-within {
                width: $size;
                &::placeholder {
                  opacity: 0;
                }
              } 
        }
      }
      .icons{
        align-items: center;
        gap: 8px;
        position: relative;
        &::after{
          position: absolute;
          content: '';
          border: 3px solid red;
          border-radius: 50%;
          left: 8px;
          top: 6px;
        }
        .avatar{
          width: 25px;
          border-radius: 50%;
        }
      }
    }
    .cont{
      h3{
      margin-bottom: 20px;
      &::after{
        content: '';
        position: absolute;
        width: 20px;
        height: 4px;
        top: 35px;
        left: 0;
        background-color: black;
      }
      &::before{
        content: '';
        position: absolute;
        width: 100px;
        height: 4px;
        top: 35px;
        left: 15px;
        background-color: #0d6efd40;
      }
      }
      
      &:after{
        position: absolute;
      }
      .boxes{
        @media (max-width: 1300px) {
        grid-template-columns: repeat(2, 1fr);}
        @media (max-width: 578px) {
        grid-template-columns: repeat(1, 1fr);}
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          // Start welcome Box
          .user{
            justify-content: space-between;
            .intro{
              position: relative;
              .avatar{
                position: relative;
                width: 100%;
                img{
                  width: 50px;
                  border-radius: 50%;
                  position: absolute;
                  top: 40px;
                  border: 4px solid #fff;            
                }
              }
            }
            .full-img{
              img{
                width: 130px;
              }
            }
          }
          .info{
            margin-top: 50px;
            justify-content: space-evenly;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
          }
          .btn{
            display: block;
            margin-top: 15px;
            margin-bottom: 21px;
            -ms-flex-pack: end;
            margin-left: auto;
            padding: 0 13px;       
          }

          // End welcome Box
          // Start Quick Draft Box
          .q-draft{
            .int{
              span{

              }
            }
            .row{
              input{
                margin-top: 20px;
              }
            }
            textarea{
              height: 122px !important;
            }
          }
          // End Quick Draft Box
        // start yearly Target box
        .y-target{
            .blue .icon,
            .blue .progress{
              background-color: #0d6efd33;
            }
            .orange .icon,
            .orange .progress{
              background-color: #fd7e1433;
            }
            .green .icon,
            .green .progress{
              background-color: #19875433;
            }
            .target-prog{
              .icon {
                width: 80px;
                height: 80px;
                @media (max-width: 578px){
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                }
              }
             .details{
              flex: 1;
              .progress{
                height: 5px;
                overflow: unset;
                > span{
                  position: absolute;
                  left: 0;
                  top: 0;
                  height: 100%;
                  span{
                    position: absolute;
                    bottom: 16px;
                    right: -16px;      
                    font-size: 12px;
                    padding: 1px 5px;
                    &::after{
                      content: "";
                      position: absolute;
                      border: 5px solid transparent;
                      bottom: -9px;
                      right: 6px;
                      -webkit-transform: translateX(-50%);
                      transform: translateX(-50%);
                    }
                    &.blue::after{
                      border-top-color:var(--bs-blue);
                    }
                    &.orange::after{
                      border-top-color:var(--bs-orange);
                    }
                    &.green::after{
                      border-top-color:var(--bs-green);
                    }
                  }
                }
              }
             } 

            }
          }
         // End yearly Target box
        //  start tickets
        .info-tickets{
          flex-wrap: wrap;
          gap: 10px;
            .b-x{
              border: 1px solid #ddd;
              flex-basis: calc(50% - 5px);
              h2{
                font-weight: bold;
                font-size: 25px;
                margin-top: 7px; 
              }
            }
        }
        //  End tickets
        //Start Latest News
        .info-news{
          flex-direction: column;
          flex-wrap: nowrap;
          .inf{
            img{
              @media (max-width:991px) {
                width: 50px;
                border-radius: 50%;
              } 
            }
          }
          .day{
            padding: 5px 10px;
            font-size: 13px;
            @media (max-width: 768px){
              font-size: 10px;
              padding: 3px 5px;
            }
          }
        }
        //End Latest News
        //start Latest Tasks
        .info-tasks{
          flex-direction: column;
          flex-wrap: nowrap;
          .task:nth-child(7){
              text-decoration: line-through;
              color: #c4c4c4;
          }
        }
        //End Latest Tasks
        //Start Top Search
        .top-search{
          .search-item{
            span{
              padding: 1px 10px;
              font-size: 13px; 
            }
      
          }
        }
        //End Top Search
        // Start Latest Upload
        .latest-uploads{
          .latest-file{
            span.bg-eee{
              padding: 1px 10px;
            }

          }
        }
        // End Latest Upload
        //Start last project progress
        .last-proj-prog{
          .info-proj{
            position: relative;
            i{
            position: relative;

            }
            h6{
              &::before{
                position: absolute;
                content: '';
                border: 2px solid white;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                left: 2px;
                z-index: 333;
                margin-top: 2px;
              }


            }

            &::after{
              position: absolute;
              content: '';
              width: 2px;
              height: 174px;
              background-color: var(--bs-blue);
              left: 9px;
            }
          }
          .img-project{
            width: 100%;
            align-items: end;
            justify-content: end;
            margin-top: 100px;
            img{
              opacity: 0.4;
              width: 120px;
            }
          }
        }
        //End last project progress
        //Start Reminder
        .reminders-lists{
          margin-left: 50px;
          .list{
            position: relative;
            h6{
              margin-bottom: 15px;
            }
            span:nth-of-type(2){
              &:after{
                content: '';
                position: absolute;
                
                width: 3px;
                height: 45px;
                top: 0;
                left: -21px;
              }
             &.blue::after{
              background-color: var(--bs-blue);
             }
             &.green::after{
              background-color: var(--bs-green);
             }
             &.orange::after{
              background-color: var(--bs-orange);
             }
             &.red::after{
              background-color: var(--bs-red);
             }
            }
            span:last-of-type{
              &::before{
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                top: 16px;
                left: -50px;
              }
              &.blue::before{
                background-color: var(--bs-blue);
               }
               &.green::before{
                background-color: var(--bs-green);
               }
               &.orange::before{
                background-color: var(--bs-orange);
               }
               &.red::before{
                background-color: var(--bs-red);
               }
            }
          }
        }
        //End Reminder
        //Start Latest Post
        .latest-post{
          .user-n{
            img{
              width: 40px;
              height: 40px;
            }
            .last-seen{
              h2{
                font-size: 15px;
              }
            }

          }
          p{
            font-size: 15px;
          }
          .opinions{
            font-size: 12px;
          }
        }

        //End Latest Post
        // Start Social Media
        .socials{
          .follower{
            // background: aliceblue;
            margin-bottom: 7px;

            .icon{
              // background: #3277cd;
              padding: 13px;
              color: white;
            }
            span:nth-of-type(1){
              flex-basis: 75%;
              font-size: 14px;
            }
            span:nth-of-type(2){
              padding: 0px 8px;
              border-radius: 5px;
              color: #fff;
              margin-right: 10px;
              font-size: 14px;

            }
          }
        }
        // End Social Media
        }
// End Boxes
        // Start Last Projects table
        .last-project{
          .responsiv-table{
            overflow: auto;
            table{
              width: 100%;
              padding: 8px;
              font-size: 13px;
              min-width: 1000px;
              border-spacing: 0;
              thead{
                td{
                  background-color: #eee;
                  font-weight: bold;
                }
              }
              tbody{
                tr{
                  &:hover td{
                    background-color: #faf7f7;
                  }
                }
              }
              td, th {
                border: 1px solid #eee;
                text-align: left;
                padding: 8px;
                transition: $MainTransithin;
              }
              td{
                img{
                  margin-right: -15px;
                }
                span{
                  padding: 4px 10px;
                  color: var(--bs-white);
                }
              }
            }
          }
        }
        // ENd Last Projects table
      }
    }
  }
//   .main-content{
    
//     .container{
//       margin: 20px auto;
//       width: 800px;
//       background-color: rgb(83, 31, 31);
//       padding: 20px;
//       display: grid;
//       grid-template-columns: repeat(8, 1fr);
//       grid-template-rows: 210px auto;
//       gap: 1em;
//       .box{
//         background-color: rgb(255, 255, 255);
//     }
//     .box:nth-child(1) {
//       grid-column: 1 /10;
    
//       position: relative;
//   }

//   }
// }
